// Imports
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Cousine|Work+Sans:400,700&display=swap');

// Application Styles
html,
body,
#root {
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: #fff;
}

a {
    color: $primaryColor;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s;
}

p {
    font-family: 'Cousine';
    margin-bottom: 30px;
}
