/* line 102, ../sass/global.sass */
.course--module {
    background: #7c689b;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    min-height: 107px;
    display: block;
    position: relative;
    box-sizing: border-box;
}
/* line 2, ../sass/mixins.sass */
.course--module:before,
.course--module:after {
    content: " ";
    display: table;
}
/* line 5, ../sass/mixins.sass */
.course--module:after {
    clear: both;
}
/* line 112, ../sass/global.sass */
.course--module--title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
