/* line 133, ../sass/global.sass */
.course--module.course--add--module {
    background: #eee;
    text-align: center;

    &:hover {
        .course--add--title {
            color: #444;
        }

        .add {
            fill: #444;
        }
    }
}

/* line 141, ../sass/global.sass */
.course--add--title {
    color: #999;
    display: inline-block;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -moz-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);

    .add {
        width: 13px;
        height: auto;
        margin: 0 5px 0 0;
        fill: #999;
    }
}
