/* line 116, ../sass/global.sass */
.course--label {
    font-family: "Cousine";
    font-size: 14px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    font-weight: normal;
}
/* line 123, ../sass/global.sass */
.course--title {
    font-size: 18px;
    color: #fff;

    &:hover {
        color: #ddd;
    }
}
/* line 126, ../sass/global.sass */
.course--link {
    display: block;
    cursor: pointer;
    border: 0;

    &,
    &:hover {
        text-decoration: none;
    }
}
