/* line 34, ../sass/global.sass */
.nav {
    float: right;
    margin-top: 3px;

    /* line 37, ../sass/global.sass */
    a {
        color: rgba(255, 255, 255, 0.5);
        margin-left: 20px;
    }

    /* line 40, ../sass/global.sass */
    a:hover {
        color: #fff;
    }
}
