.field {
    margin-bottom: 0.875rem;
}

.field input {
    margin-bottom: 0.25rem;
}

.field input.invalid {
    border: 1px solid firebrick;
}

.field span, .form-error {
    color: firebrick;
}

.form-error {
    margin-bottom: 0.75rem;
}
